@import "../common/base.scss";
@import "../common/fontAwesome.scss";
@import "../common/header/header.scss";
@import "../common/footer.scss";

$red: var(--red-color);

.headerTop {
    .become-buyer {
        display: none;
    }
    background-color: var(--red-color);
    display: flex;
    justify-content: center;
    > div {
        width: 1200px;
        padding-top: 5px;
        margin: 0 !important;
    }
}
.headerBottom {
    height: 100px;
    background-color: #fff;
    display: flex;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    justify-content: center;
    .headerBottom__main {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        .left {
            display: flex;
            gap: 16px;
            font-size: 24px;
            align-items: center;
            > a:first-child {
                text-decoration: none;
                color: $red;
                display: flex;
                align-items: baseline;
                gap: 8px;
                .icon {
                    font-size: 32px;
                }
            }
        }
        .left-wrapper {
            display: flex;
            align-items: center;
            font-size: 20px;
            color: var(--red-color);
            .span {
                height: 100%;
                width: 1px;
                background-color: $red;
                margin: 0 12px;
            }
        }
        #header__bottom-search-main {
            width: 620px;
            .search-bar {
                border: 2px solid $red;
            }
            .search-btn {
                background: $red;
                border-color: $red !important;
            }
        }
    }
}

.items-wrapper {
    color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;
    width: 1200px;
    margin: auto;
    .select-bar {
        display: flex;
        align-items: center;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0.125rem;
        overflow: hidden;
        border-radius: 3px;
        height: 55px;
        font-size: 14px;
        background: #fff;
        margin-bottom: 12px;
        color: #888;
        padding: 0 20px;
    }
    .items-div {
        @extend .select-bar;
        height: auto;
        padding: 0;
        .main {
            display: flex;
            justify-content: space-between;
            padding: 30px 20px 20px 20px;
            .left {
                display: flex;
                align-items: center;
                max-width: 400px;
                .item-img {
                    width: 80px;
                    height: 80px;
                }
                .desc {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    color: #333;
                    padding: 5px 20px 0 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        .transport {
            @extend .voucher;
            > .icon {
                color: #00bfa5 !important;
            }
        }
    }
    .select-div {
        @extend .select-bar;
        height: auto;
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 0 -12px 10px #eee;
        color: #333;
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 16px;
        .top-right {
            display: flex;
            justify-content: space-between;
            width: 500px;
            align-self: end;
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            padding: 16px 0;
            border-top: 1px solid #eee;
            width: 100%;
            .bottom-left {
                display: flex;
                align-items: center;
                align-items: center;
            }
            .bottom-right {
                display: flex;
                justify-content: end;
                align-items: center;
            }
            button[type="submit"] {
                @extend .buy-btn;
                width: 120px !important;
                margin-left: 25px !important;
            }
        }
        .cost {
            color: var(--red-color);
            font-size: 20px;
        }
        .buy-btn {
            margin-left: 16px;
            width: 200px;
            color: #fff;
            background-color: #ee4d2d;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
            height: 40px;
            border: none;
            font-size: 16px;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
.amount-product-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.09);
    display: flex;
    .amount-product {
        color: rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        padding: 1px 6px;
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
    }
    .flex-grow-2 {
        width: 50px;
    }
}
.label {
    width: 160px;
    display: flex;
    justify-content: center;
}
.checkbox {
    width: 16px;
    margin-left: 20px;
    margin-right: 16px;
    cursor: pointer;
    height: 16px;
    flex-shrink: 0;
}
.voucher {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    padding: 16px 0 16px 40px;
    display: flex;
    align-items: center;
    color: #333;
    gap: 10px;
    > .icon {
        color: var(--red-color);
        font-size: 16px;
    }
}
.del-btn {
    margin-left: 16px;
    color: #333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: var(--red-color);
    }
}
