#trending {
    @include body-container();
    position: relative;
}
#trending__header {
    @include body-header();
    justify-content: space-between;
}
#trending__link {
    @include body-header-seeAll();
}
#trending__body {
    overflow: hidden;
}
#trending__wrapper {
    @include wrapper();
    padding: 1rem 0;
    display: flex;
}
.trending__item {
    width: calc(120rem / 6);
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    float: left;
}
.trending__item__top {
    position: relative;
    flex: 1;
}
.trending__item-img {
    width: 100%;
    height: 100%;
    @include no-drag();
}
.trending__item__top-icon {
    @include bg-img("https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182253/Shopee%20Project/top_b0wici.png");
    height: 3.2rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.trending__item__top-cost {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2.25rem;
}
.trending__item__bottom {
    font-size: 1.4rem;
    margin-top: 2rem;
    color: #333;
    text-transform: capitalize;
}
#trending__backward {
    @include backward-btn();
}
#trending__forward {
    @include forward-btn();
}
