@import "../common/base.scss";
@import "../common/fontAwesome.scss";
@import "../common/footer.scss";
@import "./authHeader.scss";

$gray: rgba(0, 0, 0, 0.14);

@mixin entry {
    padding: 12px;
    width: 100%;
    border: 1px solid $gray;
    border-radius: 2px;
    outline: 0;
    font-size: 14px;
    &::placeholder {
        color: $gray;
        font-size: 14px;
    }
}

.body-wrapper {
    background-image: url(https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688529106/sg-11134004-7qvfc-lisjisjilfqv70_iwag1l.png);
    min-height: 600px;
    @include center-all();
    .form-container {
        width: 1040px;
        display: flex;
        justify-content: end;
        .form {
            background-color: #fff;
            box-shadow: 0 3px 10px 0 $gray;
            border-radius: 4px;
            width: 400px;
            padding: 0 30px 30px 30px;
            .form-header {
                padding: 22px 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .pass-div {
                margin-top: 16px;
            }
            .log {
                font-size: 12px;
                line-height: 22px;
                color: var(--red-color);
            }
            button[type="submit"] {
                width: 100%;
                color: #fff;
                background-color: #ee4d2d;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.09);
                margin-top: 16px;
                height: 40px;
                border: none;
                font-size: 16px;
            }
            .span {
                margin: 16px 0;
                display: flex;
                align-items: center;
                .line {
                    height: 1px;
                    width: 100%;
                    background-color: #dbdbdb;
                    flex: 1;
                }
                .letter-or {
                    font-size: 12px;
                    color: #ccc;
                    padding: 0 16px;
                    text-transform: uppercase;
                }
            }
            .form-footer {
                font-size: 12px;
                text-align: center;
                > a {
                    color: var(--red-color);
                }
            }
        }
    }
}
#username {
    @include entry();
}
#password {
    @include entry();
}
