<div id="main">
    <!-- introduce -->
    <div id="cover-layer">
        <div id="cover-layer__body">
            <a href="javascript:void(0)" id="cover-layer__img"></a>
            <div id="cover-layer__close">
                <button class="btn btn-close"></button>
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div id="content">
        <div id="content__top" class="shadow-sm">
            <div id="content__top-wrapper">
                <div id="content__top-ad" class="shadow">
                    <div id="content__top-ad-left">
                        <div class="carousel slide h-100" data-bs-ride="carousel" id="slider">
                            <div class="carousel-indicators" id="slide-navs">
                                <span><button data-bs-target="#slider" data-bs-toggle="carousel"
                                        class="rounded-circle active" data-bs-slide-to="0"></button></span>
                            </div>
                            <div class="carousel-inner h-100" id="slides">
                                <div class="carousel-item h-100 active">
                                    <a href="javascript:void(0)"><img class="w-100"
                                            src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182254/Shopee%20Project/sieuthdientu_hzcuds.png"
                                            alt="photo" /></a>
                                </div>
                            </div>
                            <button class="carousel-control-prev justify-content-lg-start" data-bs-slide="prev"
                                data-bs-target="#slider">
                                <span
                                    class="carousel-control-prev-icon h-25 w-25 bg-dark opacity-50 carousel-nav"></span>
                            </button>
                            <button class="carousel-control-next justify-content-lg-end" data-bs-slide="next"
                                data-bs-target="#slider">
                                <span
                                    class="carousel-control-next-icon h-25 w-25 bg-dark opacity-50 carousel-nav"></span>
                            </button>
                        </div>
                    </div>
                    <div id="content__top-ad-right">
                        <a href="javascript:void(0)"><img
                                src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182254/Shopee%20Project/topright2_a1vlam.jpg"
                                alt="Ad" /></a>
                        <a href="javascript:void(0)"><img
                                src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182254/Shopee%20Project/topright1_f1i6c8.png"
                                alt="Ad" /></a>
                    </div>
                </div>
                <div id="content__top-sale"></div>
            </div>
        </div>
        <div id="outlet" class="shadow-sm rounded-2">
            <div id="outlet__header"></div>
            <div id="outlet__body">
                <div id="outlet__wrapper">
                    <div class="outlet__body-side">
                        <div class="outlet__body-side__header">
                            <div class="font-s14">DEAL HOT CHO BẠN</div>
                            <a href="javascript:void(0)" class="outlet__body__see-more"> Xem Thêm <i
                                    class="fa-solid fa-chevron-right"></i> </a>
                        </div>
                        <div class="outlet__body-side__body">
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/camare_cx4pep.png"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/thuoc_upnxsn.png"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/mayhutbui_msmbdj.jpg"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                        </div>
                    </div>
                    <div class="outlet__body-side">
                        <div class="outlet__body-side__header">
                            <div class="font-s14">HÀNG HIỆU OUTLET</div>
                            <a href="javascript:void(0)" class="outlet__body__see-more"> Xem Thêm <i
                                    class="fa-solid fa-chevron-right"></i> </a>
                        </div>
                        <div class="outlet__body-side__body">
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/camare_cx4pep.png"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/thuoc_upnxsn.png"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                            <a href="javascript:void(0)" class="outlet-item">
                                <img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/mayhutbui_msmbdj.jpg"
                                    alt="photo" />
                                <div class="outlet-sale"></div>
                                <p class="outlet__cost"><span class="font-s13">đ</span>499.000</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-items">
            <div id="category" class="shadow-sm rounded-2 slide-container">
                <h3 id="category-header" class="body-header-heading">DANH MỤC</h3>
                <div id="category-body" class="w-100">
                    <div id="category__wrapper"></div>
                </div>
                <button id="category__backward" class="shadow-lg backwbtn"><i
                        class="fa-solid fa-chevron-left"></i></button>
                <button id="category__forward" class="shadow-lg forwbtn"><i
                        class="fa-solid fa-chevron-right"></i></button>
            </div>
        </div>
        <div id="flash-sale" class="shadow-sm rounded-2 slide-container">
            <div id="flash-sale__header">
                <div id="flash-sale__header-title">
                    <div id="flash-sale__header-title-text"></div>
                    <div id="flash-sale__time">
                        <div id="flash-sale__time-h" class="time-h">00</div>
                        <div id="flash-sale__time-m" class="time-m">00</div>
                        <div id="flash-sale__time-s" class="time-s">00</div>
                    </div>
                </div>
                <a href="javascript:void(0)" id="flash-sale__header-link">Xem Tất Cả <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div id="flash-sale__body">
                <div id="flash-sale__wrapper"></div>
            </div>
            <button id="flash-sale__backward" class="shadow-lg backwbtn"><i
                    class="fa-solid fa-chevron-left"></i></button>
            <button id="flash-sale__forward" class="shadow-lg forwbtn"><i
                    class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div id="content__stack" class="shadow-sm rounded-2">
            <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182252/Shopee%20Project/sg-50009109-e13d308811d5ed8ef604e316053cec91_site1c.png"
                alt="photo" />
            <div id="content__stack-links">`
                <a href="javascript:void(0)" class="content__stack-link"></a>
                <a href="javascript:void(0)" class="content__stack-link"></a>
                <a href="javascript:void(0)" class="content__stack-link"></a>
            </div>
        </div>
        <div id="shopee-mall" class="shadow-sm rounded-2">
            <div id="shopee-mall__header">
                <div id="shopee-mall__header-front">
                    <a href="javascript:void(0)" class="text-uppercase">shopee mall</a>
                    <div id="shopee-mall__header-endow">
                        <div class="shopee-mall__endow-item">
                            <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182264/Shopee%20Project/6c502a2641457578b0d5f5153b53dd5d_bdu2ky.png"
                                alt="photo" />
                            <span class="text-capitalize font-s14">7 ngày miễn phí trả hàng</span>
                        </div>
                        <div class="shopee-mall__endow-item">
                            <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182264/Shopee%20Project/511aca04cc3ba9234ab0e4fcf20768a2_a00ypp.png"
                                alt="photo" />
                            <span class="text-capitalize font-s14">hàng chính hãng 100%</span>
                        </div>
                        <div class="shopee-mall__endow-item">
                            <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182263/Shopee%20Project/16ead7e0a68c3cff9f32910e4be08122_bmoeyc.png"
                                alt="photo" />
                            <span class="text-capitalize font-s14">miễn phí vận chuyển</span>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" class="text-capitalize">xem tất cả <span><i
                            class="fa-solid fa-chevron-right"></i></span></a>
            </div>
            <div id="shopee-mall__body" class="border-top">
                <div class="carousel slide h-100" data-bs-ride="carousel" id="shopee-mall__slider">
                    <div class="carousel-indicators" id="shopee-mall__slider-navs">
                        <span><button data-bs-target="#shopee-mall__slider" data-bs-toggle="carousel"
                                class="rounded-circle active" data-bs-slide-to="0"></button></span>
                    </div>
                    <div class="carousel-inner h-100" id="shopee-mall__slider-item">
                        <div class="carousel-item h-100 active">
                            <a><img class="w-100"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182265/Shopee%20Project/vn-50009109-9d1fed8a0505dd47cb0491b92ce36597_ibmdgj.jpg"
                                    alt="photo" /></a>
                        </div>
                    </div>
                    <button class="carousel-control-prev justify-content-lg-start" data-bs-slide="prev"
                        data-bs-target="#shopee-mall__slider">
                        <span class="carousel-control-prev-icon h-25 w-25 bg-dark opacity-50 carousel-nav"></span>
                    </button>
                    <button class="carousel-control-next justify-content-lg-end" data-bs-slide="next"
                        data-bs-target="#shopee-mall__slider">
                        <span class="carousel-control-next-icon h-25 w-25 bg-dark opacity-50 carousel-nav"></span>
                    </button>
                </div>
                <div id="shopee-mall__container" class="slide-container">
                    <div id="shopee-mall__products">
                        <div id="shopee-mall__wrapper"></div>
                    </div>
                    <button id="shopee-mall__backward" class="shadow-lg backwbtn"><i
                            class="fa-solid fa-chevron-left"></i></button>
                    <button id="shopee-mall__forward" class="shadow-lg forwbtn"><i
                            class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
        <div id="trending" class="shadow-sm rounded-2 slide-container">
            <div id="trending__header" class="border-bottom">
                <div class="text-red">TÌM KIẾM HÀNG ĐẦU</div>
                <a href="javascript:void(0)" id="trending__link">xem tất cả <i
                        class="fa-solid fa-chevron-right"></i></a>
            </div>
            <div id="trending__body">
                <div id="trending__wrapper"></div>
            </div>
            <button id="trending__backward" class="shadow-lg backwbtn"><i class="fa-solid fa-chevron-left"></i></button>
            <button id="trending__forward" class="shadow-lg forwbtn"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
        <div id="suggest">
            <a href="#trending__body" id="suggest__header" class="shadow-sm rounded-2">
                <div>GỢI Ý HÔM NAY</div>
            </a>
            <div id="suggest__body"></div>
            <a class="shadow-sm rounded-2 text-capitalize" id="suggest__seemore" href="#">Xem thêm</a>
        </div>
    </div>

</div>
<script>
    //
    function handleShowNotice() {
        $("#header__top-notify-btn").click(() => {
            $("#header__top-notify-hide").slideDown(200, () => {
                $("#header__top-notify-btn").attr("disabled", true);
            });
        });
        $("#header__top-notify-box").mouseleave(() => {
            $("#header__top-notify-hide").slideUp(200, () => {
                $("#header__top-notify-btn").attr("disabled", false);
            });
        });
    }
    function handleBtnForward() {
        const container = [
            { id: "#category__forward", obj: "#category__forward" },
            { id: "#category__backward", obj: "#category__forward" },
            { id: "#category-body", obj: "#category__forward" },
            { id: "#category__forward", obj: "#category__backward" },
            { id: "#category__backward", obj: "#category__backward" },
            { id: "#category-body", obj: "#category__backward" },
            // flash sale
            { id: "#flash-sale__forward", obj: "#flash-sale__forward" },
            {
                id: "#flash-sale__backward",
                obj: "#flash-sale__forward",
            },
            { id: "#flash-sale__body", obj: "#flash-sale__forward" },
            {
                id: "#flash-sale__forward",
                obj: "#flash-sale__backward",
            },
            {
                id: "#flash-sale__backward",
                obj: "#flash-sale__backward",
            },
            { id: "#flash-sale__body", obj: "#flash-sale__backward" },
            {
                id: "#shopee-mall__forward",
                obj: "#shopee-mall__forward",
            },
            {
                id: "#shopee-mall__backward",
                obj: "#shopee-mall__forward",
            },
            {
                id: "#shopee-mall__products",
                obj: "#shopee-mall__forward",
            },
            {
                id: "#shopee-mall__forward",
                obj: "#shopee-mall__backward",
            },
            {
                id: "#shopee-mall__backward",
                obj: "#shopee-mall__backward",
            },
            {
                id: "#shopee-mall__products",
                obj: "#shopee-mall__backward",
            },
            // trending forward and backward btn
            { id: "#trending__forward", obj: "#trending__forward" },
            { id: "#trending__backward", obj: "#trending__forward" },
            { id: "#trending__body", obj: "#trending__forward" },
            { id: "#trending__forward", obj: "#trending__backward" },
            { id: "#trending__backward", obj: "#trending__backward" },
            { id: "#trending__body", obj: "#trending__backward" },
        ];
        function transform({ id, obj }, event, type) {
            $(id)[event](() =>
                $(obj).css({
                    animation: `grow-${type}-size .15s ease-out forwards`,
                })
            );
        }
        for (const obj of container) {
            transform(obj, "mouseenter", "up");
            transform(obj, "mouseleave", "down");
        }
    }
    //
    $(document).ready(() => {
        handleBtnForward();
        handleShowNotice();
        // $('#tempDiv').hide()
    });
</script>