<div class="body-wrapper">
    <div class="form-container">
        <div class="form">
            <div class="form-header">
                <h2>Đăng nhập</h2>
            </div>
            <form class="form-body" id="login-form" action="#" method="POST">
                <div class="name-div">
                    <input required minlength="6" autofocus type="text" name="username" id="username"
                        placeholder="Tên đăng nhập">
                    <div class="log">Vui lòng điền vào mục này.</div>
                </div>
                <div class="pass-div">
                    <input required type="password" name="password" minlength="6" id="password" placeholder="Mật khẩu">
                    <div class="log">Vui lòng điền vào mục này</div>
                </div>
                <button type="submit">Đăng nhập</button>
            </form>
            <div class="span">
                <div class="line"></div>
                <div class="letter-or">Hoặc</div>
                <div class="line"></div>
            </div>
            <div class="form-footer">
                <span>Bạn mới biết đến Shopee?</span>
                <a href="/signup"> Đăng ký</a>
            </div>
        </div>
    </div>
</div>