<div class="body-wrapper">
    <div class="form-container">
        <div class="form">
            <div class="form-header">
                <h2>Đăng ký</h2>
            </div>
            <form class="form-body" id="signup-form" action="#" method="POST">
                <div class="name-div">
                    <input required minlength="6" autofocus type="text" name="username" id="username"
                        placeholder="Tên đăng nhập">
                    <div class="log">Tên người dùng chỉ bao gồm chữ, số hoặc _</div>
                </div>
                <div class="pass-div">
                    <input required type="password" name="password" minlength="6" id="password" placeholder="Mật khẩu">
                    <div class="log">Mật khẩu không thể chứa khoảng trắng</div>
                </div>
                <button type="submit">Đăng ký</button>
            </form>
            <div class="span">
                <div class="line"></div>
                <div class="letter-or">Hoặc</div>
                <div class="line"></div>
            </div>
            <div class="form-footer">
                <span>Bạn đã có tài khoản Shopee?</span>
                <a href="/login"> Đăng nhập</a>
            </div>
        </div>
    </div>
</div>