<div class="body-wrapper">
    <div class="form-container">
        <div class="form">
            <div class="form-header">
                <h2>Đăng ký</h2>
            </div>
            <form class="form-body" action="#" method="POST">
                <div class="name-div">
                    <input type="text" name="username" id="username" placeholder="Tên đăng nhập">
                    <div class="log">Vui lòng điền vào mục này.</div>
                </div>
                <div class="pass-div">
                    <input type="password" name="password" id="password" placeholder="Mật khẩu">
                    <div class="log">Mật khẩu không hợp lệ</div>
                </div>
                <button type="submit">Đăng ký</button>
            </form>
            <div class="span">
                <div class="line"></div>
                <div class="letter-or">Hoặc</div>
                <div class="line"></div>
            </div>
            <div class="form-footer">
                <span>Bạn đã có tài khoản Shopee?</span>
                <a href="/login"> Đăng nhập</a>
            </div>
        </div>
    </div>
</div>