// search
#header__bottom-search-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 1.2rem;
}
#header__bottom-search-main {
    display: flex;
}
#header__bottom-search {
    display: flex;
    padding: 0.8rem;
    background-color: var(--white-color);
    flex: 1;
}
#header__bottom-search input[type="search"] {
    @include search-bar();
    display: inline-block;
    line-height: 2rem;
    font-size: 1.4rem;
    flex: 1;
}
#header__bottom-propose-wrapper {
    position: relative;
}
#header__bottom-search-list {
    list-style-type: none;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0.8rem 0;
}
#proposes {
    position: absolute;
    top: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0px;
    padding: 1rem;
    box-shadow: 0 0 1rem #a39999;
    border-radius: 0.4rem;
}
.propose {
    font-size: $font-12;
    font-weight: 400;
    padding: 1.2rem 0;
    border-bottom: 1px solid #f9f9f9;
    color: var(--text-color);
    cursor: pointer;
}
.propose:hover {
    opacity: 0.8;
}
.header__bottom-search-link {
    font-size: 1.2rem;
    font-weight: 400;
}
.header__bottom-search-link > a {
    color: inherit;
    text-decoration: none;
}
.header__bottom-search-link:hover {
    opacity: 0.8;
}
#header__bottom-search-icon {
    color: #fff;
    font-size: 1.6rem;
    border: 0.2rem solid;
    padding: 1rem 2rem;
    cursor: pointer;
    min-width: 86px;
    display: inline-flex;
    justify-content: center;
}
#header__bottom-search-icon:hover {
    color: rgb(241, 235, 235);
}
