// cart
#header__bottom-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    padding: 0.8rem;
}
#header__bottom-icon:hover i:first-child {
    opacity: 0.8;
    cursor: pointer;
}
#cart__items {
    @include float-block-in-header();
    @include hide();
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-90%);
    width: 40rem;
    height: 28rem;
    overflow: hidden;
    color: var(--black-color);
}
#cart__items > p {
    font-size: $font-12;
    font-weight: 400;
    overflow: hidden;
}
#header__bottom-icon:hover #cart__items {
    display: flex;
}
#cart__items img {
    width: 50%;
    @include no-drag();
}
