<div class="header-wrapper">
    <div class="header-content">
        <div class="left">
            <a href="/">
                <i class="icon fa-sharp fa-solid fa-bag-shopping"></i>
                <span>Shopee</span>
            </a>
            <div>{{title}}</div>
        </div>
        <a href="#" class="right">Bạn cần giúp đỡ?</a>
    </div>
</div>