<!-- Header -->
<header id="header">
    <div id="header__top" class="mt-2">
        <ul class="header__top-list">
            <li class="header__top-link border-right">
                <a href="#">Kênh người bán</a>
            </li>
            <li class="header__top-link border-right">
                <a href="#">Trở thành người bán Shopee</a>
            </li>
            <li class="header__top-link border-right" id="open-QR">
                <a href="#">Tải ứng dụng</a>
                <div id="download-code">
                    <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/QRcode_yfhkpv.png"
                        alt="QR code" />
                    <div id="app-on-mobile">
                        <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/ch_play_n3ufvb.png"
                            alt="appstore" />
                        <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/app_store_swrxq5.png"
                            alt="chplay" />
                    </div>
                </div>
            </li>
            <li class="header__top-link">
                Kết nối
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
            </li>
        </ul>
        <ul class="header__top-list">
            <li class="header__top-link" id="header__top-notify">
                <a href="#">
                    <i class="fa-regular fa-bell font-s16"></i>
                    &nbsp Thông báo</a>
                <div id="header__top-notify-box">
                    <div id="header__top-notify-header" class="border-bottom">
                        The notification about some product
                    </div>
                    <div id="header__top-notify-body">
                        <div class="header__top-notify-show">
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img id="header__top-notify-img"
                                    src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                        </div>
                        <div id="header__top-notify-hide">
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                            <a class="header__top-notify-item" href="javascript:void(0)">
                                <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182257/Shopee%20Project/phone_ofath0.png"
                                    alt="photo" id="header__top-notify-img" />
                                <div class="d-flex flex-column justify-content-center">
                                    <h5>A product</h5>
                                    <p class="m-0">Some description about this product</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <button id="header__top-notify-btn" class="btn btn-default border-top">
                        Xem tất cả
                    </button>
                </div>
            </li>
            <li class="header__top-link">
                <a href="#">
                    <i class="fa-regular fa-circle-question font-s16"></i>
                    &nbsp Hỗ trợ</a>
            </li>
            <li class="header__top-link" id="lang-button">
                <a href="#">
                    <i class="fa-sharp fa-solid fa-globe font-s16"></i>
                    &nbsp Tiếng việt
                    <i class="fa-sharp fa-solid fa-chevron-down font-s12"></i></a>
                <div id="UI-lang">
                    <p>Tiếng Việt</p>
                    <p>English</p>
                </div>
            </li>
            <li class="header__top-link border-right">
                <a href="/signup">Đăng ký</a>
            </li>
            <li class="header__top-link">
                <a href="/login">Đăng nhập</a>
            </li>
        </ul>
    </div>
    <div id="header__bottom">
        <a id="header__bottom-logo" href="#">
            <i class="fa-sharp fa-solid fa-bag-shopping"></i><span>Shopee</span>
        </a>
        <div id="header__bottom-wrapper">
            <div id="header__bottom-search-wrapper">
                <div id="header__bottom-search-main" class="shadow">
                    <div id="header__bottom-search">
                        <input id="search-bar" type="search"
                            placeholder="Đăng ký và nhận voucher bạn mới lên đễn 70k!" />
                        <select name="shop" id="shop">
                            <option value="Trong Shop" class="header__bottom-choice">Trong Shop</option>
                            <option value="Ngoai shop" class="header__bottom-choice">Ngoài shop</option>
                            <option value="Tiktok shop" class="header__bottom-choice">Tiktok shop</option>
                            <option value="Tiki" class="header__bottom-choice">Tiki</option>
                        </select>
                    </div>
                    <i class="fa-solid fa-magnifying-glass" id="header__bottom-search-icon"></i>
                </div>
                <div id="header__bottom-propose-wrapper">
                    <ul id="header__bottom-search-list"></ul>
                </div>
            </div>
            <div id="header__bottom-icon">
                <i class="fa-sharp fa-solid fa-cart-shopping" id="header__bottom-icon"></i>
                <div id="cart__items">
                    <img src="https://res.cloudinary.com/dh8bwlxbr/image/upload/v1688182260/Shopee%20Project/cart_r0jlvy.png"
                        alt="items" />
                    <p>Chưa có sản phẩm</p>
                </div>
            </div>
        </div>
    </div>
</header>