<div id="header__bottom-search-main" class="shadow">
    <div id="header__bottom-search" class="search-bar">
        <input id="search-bar" type="search" placeholder="Đăng ký và nhận voucher bạn mới lên đễn 70k!" />
    </div>
    <i class="fa-solid fa-magnifying-glass search-btn" id="header__bottom-search-icon"></i>
</div>