<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <div class="main">
        <div class="headerTop">{{> headerTop}}</div>
        {{{body}}}
        {{> footer}}
    </div>
    <script src="js/dist/cartScript.js"></script>
</body>

</html>