<!DOCTYPE html>
<html lang="en">
{{> head}}

<body>
    <div class="main">
        {{> authHeader}}
        {{{body}}}
        {{> footer}}
    </div>
    <script src="js/dist/loginScript.js"></script>
</body>

</html>